{% extends "base.html" %}

{% block content %}
{# TODO: only show the edit link to teachers/admins #}
<a href="{% url 'course-edit' object.slug %}">Edit</a>

<header>
    <h1>{{ object.title }}</h1>
    Teacher: <h2>{{ object.teacher }}</h2>
</header>
<section class='course-description'>
{{ object.description }}
</section>
<section class='course-announcements'>
    <h1>Announcements</h1>
    <ol>
    {% for announcement in object.announcements.all %}
        <li>
            <h1>{{ announcement.title }}</h1>
            <h2>{{ announcement.author }}</h2>
            <time>{{ announcement.modified }}</time>
        </li>
    {% endfor %}
    </ol>
</section>
<section class='course-assignments'>
    <h1>Assignments</h1>
    <ol>
    {% for assignment in object.assignments.all %}
        <li>
            <h1><a href="{% url 'assignment-details' assignment.id %}">{{ assignment.title }}</a></h1>
            <time>{{ assignment.deadline}}</time>
        </li>
    {% endfor %}
    </ol>
    <a href="{% url 'assignment-create' course.slug %}">Add assignment</a>
</section>
<section class='course-students'>
    <h1>Students</h1>
    <ol>
    {% for student in object.students.all %}
        <li>
            <h1><a href="{% url 'student-details' student.id %}">
            {{ student.first_name }} {{ student.last_name }}
            </a>
            </h1>
        </li>
    {% endfor %}
    </ol>
</section>


{% endblock %}
