{% extends "portal/base.html" %}

{% block breadcrumbs %}
{% load custom_tags %}
{{block.super}}{% breadcrumb 'course-list' 'Courses' %}
{% endblock %}

{% block content %}
{# TODO: only show the edit link to teachers/admins #}
<a href="{% url 'course-edit' object.slug %}">Edit</a>
<div class='course'>
<header>
    <h1>{{ object.title }}</h1>
    <span class='meta'>taught by</span>
    <h2>{{ object.teacher.get_full_name }}</h2>
</header>
<section class='course-description'>
{{ object.description | safe}}
</section>
<section class='course-announcements'>
    <h1>Announcements</h1>
    <ol>
    {% for announcement in object.announcements.all %}
        <li class='announcement'>
            <h2>{{ announcement.title }}</h2>
            <h3>
                <span class='meta'>by</span>
                {{ announcement.author.get_full_name }}
                <span class='meta'>on</span>
                <time>{{ announcement.modified }}</time>
            </h3> 
        </li>
    {% endfor %}
    </ol>
</section>
<section class='course-assignments'>
    <h1>Assignments</h1>
    <ol>
    {% for assignment in object.assignments.all %}
        <li>
            <h1><a href="{% url 'assignment-details' assignment.id %}">{{ assignment.title }}</a></h1>
            <time>{{ assignment.deadline}}</time>
        </li>
    {% endfor %}
    </ol>
    <a href="{% url 'assignment-create' course.slug %}">Add assignment</a>
</section>

{% if user.is_staff %}
<section class='course-students'>
    <h1>Roster</h1>
    <ol>
    {% for student in object.students.all %}
        <li>
            <h1><a href="{% url 'student-details' student.id %}">
            {{ student.get_full_name }}
            </a>
            </h1>
        </li>
    {% endfor %}
    </ol>
</section>
{% endif %}

</div>
{% endblock %}
