body {
    text-align:center; /* older browser centering hack */
    font-family: "Open Sans";
    margin: 0;
    padding: 0;
}

a {
    color: #034af3;
    text-decoration: underline;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

p
{
    margin-bottom:15px;
}
header,
footer,
nav,
section {
    display: block;
}
div
{
    margin-bottom:10px;
}
/* HEADINGS
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    color: #000;
}
.title
{
    font-size:2em;
    text-align:center;
    margin-bottom:10px;
}
h1 {
    font-size: 1.3em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2
{
    font-size:1.2em;
}

h3 {
    font-size: 1.05em;
    margin-bottom:0;
}

h4 {
    font-size: 1em;
}

h5, h6 {
    font-size: 1em;
}

/* TABLE
----------------------------------------------------------*/

table {
    border: solid 1px #444;
    border-collapse: collapse;
}

table.full {
    width: 100%;
}

tr {
    border-bottom: solid 1px #444;
}

tr:last-child {
    border:none;
}

table td {
    padding: 5px;
    border: solid 1px #444;
    text-align: center;
    min-width: 45px;
}

table th {
    padding: 5px;
    text-align: center;
    border: solid 1px #444;
}

table td a {
    text-decoration: none;
}

.table-title
{
    background:none;
    color:Blue;
    font-size:1.2em;
}

.borderless, .borderless td, .borderless th {border:none}


.course-section {
padding:15px;
background-color:#eee;
border-radius:5px;
}

/* Specialized */
.inline {display:inline; font-size: 1em;}
.distinct {border-bottom:1px solid black;}

.page-header {
    text-align:center;
    background-color:#000066;
    padding: 0;
}

.page-header h1 {
    float: left;
    margin: 0;
    padding: 0;
    color: #fff;
    font-variant: small-caps;
    font-size: 2em;
    font-family: Lora;
    font-weight: normal;
}

.page-header h1 img {
    width: 80px;
    margin: 5px;
    vertical-align: middle;
}

.page-header nav {
    background-color: #ffd000;
    clear: both;
    margin: 0;
    padding: 0;
    min-height: 40px;
}

.page-header nav:after {
    content: "";
    display: block;
    clear: both;
}

.main {
    padding:0 15px 5px 15px;
    overflow:auto;
}

footer.copyright {
    text-align:center;
    height:40px;
    margin:0;
    width:100%;
    background-color: #ffd000;
}
    .course-description {
        overflow:auto;
    }

.copyright h1
{
    font-size:1em;
    margin-top:10px;
    display:inline-block;
    font-family:Lora, sans-serif;
    font-weight:bold;
}
.page {
    width:1200px;
    margin:0 auto;
    text-align:left;
    background-color: #FFFBF4;
    box-shadow: 0 0 5px #000;
}

body {
    background-color: rgba(255, 208, 0, 0.15);
}

nav > ul {
    margin: 0;
    max-width: 100%;
    float: right;
}

nav .child {
    background-color: #ffd000;
    display: block;
    float: left;
    min-width: 120px;
    vertical-align: top;
}

nav .child a {
    border-left:1px solid #000066;
    box-sizing: border-box;
    color: #000066;
    display:inline-block;
    height: 40px;
    font-weight:bold;
    font-family: Lora;
    font-size:14px;
    padding: 0 5px;
    padding-top:12px;
    text-align:center;
    text-decoration:none;
    vertical-align:top;
    width: 100%;
}

nav > .child:first-child a{
    border-left:none;
    border-top-left-radius:5px;
}

nav .child > a:hover {
    background-color:#000066;
    color:white;
}

nav .parent {
    border:none;
    cursor:pointer;
    position:relative;
    padding-top:0;
}

nav .parent > a:hover {
    color:black;
    background: none;
}

nav .parent:hover ul
{
    display:block;
}

nav .parent ul
{
    border: 1px solid #000000;
    border-top: none;
    display: none;
    margin: 0;
    padding: 0px;
    position: absolute;
}

nav .parent ul li
{
    display:block;
    float: none;
    margin:0;
    padding:0;
    min-width: 119px;
}
nav .parent ul li a
{
    border: none;
    display: block;
    height: auto;
    margin: 0;
    padding: 10px;
    text-align: center;
}

div.blocks {
    text-align:center;
}

section.block {
    text-align:left;
    display: inline-block;
    vertical-align: top;
    width: 530px;
    padding: 8px;
    height:100%;
    box-sizing: border-box;
    font-size: .9em;

    margin: 25px;
}

section.block h1 {
    margin-bottom: 15px;
    text-align: center;
}

section.block footer {
    bottom: 0px;
}

section.block a {
    text-decoration: none;
}

section.block table {
    margin: 25px 0;
 }



/* Course Detail Page */

.course header {
    font-family: Lora;
}

.course header h1 {
    font-size: 2em;
    display: inline-block;
}

.course header h2 {
   font-size: 1.3em;
   display: inline-block;
}


.course-description {
    float: left;
    width: 800px;
}

.course-announcements {
    float: left;
    width: 300px;
}

.course-announcements h1 {
    font-family: Lora;
    font-size: 1.7em;
}

.course-announcements ol {
    padding: 0;
}

li.announcement {
    display: block;
    margin: 10px 0;
}

li.announcement h2, li.announcement h3 {
    display: inline-block;
    margin: 0;
}

.meta {
    font-style: italic;
    font-family: Lora;
    font-weight: normal;
}

.breadcrumbs {
    margin-top: 10px;
    font-family: Lora;
}

.breadcrumbs a {
    color: #222;
    text-decoration: none;
}

.breadcrumbs a:last-child {
    font-weight: bold;
}

.books-background {
    background-image: url('/media/books2.png');
    background-repeat: no-repeat;
    background-position: right;
    min-height: 420px;
}

.books-background p {
   padding-right: 290px; 
}

@media (max-width: 1200px) {
    .page {
        width: 100%;
    }
}

@media (max-width: 700px) {
    .page-header h1 {
        float: none;
    }

    nav ul {
        float: none;
        padding: 0;
    }

    nav .child {
        float: none;
        display: inline-block;
        /*margin-left: -4px;*/
    }

    nav .child a {
        border: none;
    }

    nav .parent:hover {
        border-left: 1px solid #000066;
        border-right: 1px solid #000066;
    }

    nav .parent .child {
        min-width: 120px;
    }

    nav .parent ul {
        margin-left: -1px;
    }

}

@media (max-width: 650px) {
    .page-header h1 img {
        float: left;
    }

    .page-header h1 {
        padding: 5px 0;
    }
}

@media (max-width: 650px) {
    .column {
        float: none !important;
        width: 100% !important;
    }
}
